@import 'bootstrap/dist/css/bootstrap.min.css'; 
.App {
  text-align: center;
}

.Product ul {
  list-style-type: none;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr); /* 5 columns */
  grid-gap: 20px; /* Spacing between cards */
  margin-top: 80px;
}

.bg-body-tertiary {
  background-color: #3F88C5 !important; /* Your desired background color */
}

.navbar-brand {
  color: rgb(248, 243, 243);
}
.navbar-brand:hover {
  color: rgb(248, 243, 243); /* Ensure font color remains the same on hover */
}

.card {
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-body {
  padding: 20px;
}

.card .btn {
  margin-top: 10px;
}

.Product {
  text-align: center;
  padding: 20px;
}

.cart-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.cart-title {
  margin-bottom: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

th, td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #f2f2f2;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
